*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}
  
body {
  background-color: #f7f7f7
}
  
.header-container {
  display: flex;
  background-color: #5C687C
}
  
.logo-container {
  display: flex;
  justify-content: center;
  flex-basis: 268px;
}
  
.menu-container {
  display: flex;
  align-self: center;
  flex: 1 500px;
  order: 1;
}
  
.menu-container ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
  
.menu-container li {
  font-size: 1.3rem;
  font-weight: 500;
  list-style: none;
  color: #ffffff
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-container {
  display: flex;
  flex-direction: column;
  flex-basis: 700px;
  flex-grow: 10;
}

.movie-container h2 {
  margin: 40px 0;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-container div {
  height: 150px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 16%;
  border: black solid 1px;
  background-color: #5C687C;
}

.aside-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1 350px;
}

.aside-container h3, h4 {
  margin-bottom: 10px;
  text-align: center;
}

.aside-container p {
  margin: 10px 0;
  display: flex;
  align-self: center;
  text-align: justify;
}