* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
  color: white;
  background-color: rgb(61, 61, 61);
}

#logo-trybe {
  width: 70px;
  display: flex;
  align-items: center;
}

#sign-up {
  color: white;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#p-presentation {
  font-size: 25px;
}

#techs-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-techs {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border: 1px solid grey;
}

.logo-techs-imgs {
  width: 170px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-socials {
  width: 35px;
}