.super-mario {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 100px;
}

.goomba {
    width: 100px;
    position: absolute;
    top: 500px;
    left: 150px;
}

.baloon {
    position: absolute;
    left: 475px;
}

.speach {
    font-size: 25px;
    position: absolute;
    top: 125px;
    left: 495px;
    z-index: 2;
}

.bowser {
    width: 700px;
    position: absolute;
    left: 700px;
}